
<div class="container bg-light mt-5 py-5 w-90">
   
    <div class="row center mt-5" > 
   <div class="col-md-4 col-lg-4 col-12"> 
    <img class="img-fluid" src="{{data.image}}"     alt=" product">
   </div>

<div class="col-md-6 col-lg-6 col-12 "> 
 <ul class="list-styled">
    <li><strong>Title : </strong>{{data.title}}</li>
    
    <li><strong>Category : </strong> {{data.Category}} </li> 
        <li><strong>Description : </strong> {{data.description}} </li>
            <li><strong>Rate : </strong> </li>
                <li><strong>Counte : </strong>  </li>
                    <li><strong>Price : </strong> {{data.price}}</li>
 </ul>
</div>
</div>
   </div>
