<section class="h-100 bg-light py-5" >
    <div class="container h-100 py-5">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <div class="d-flex justify-content-between align-items-center mb-4">  
            <div><h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
            <h6 class="fw-normal ms-3 ">You have <label class="text-danger">{{cartproducts.length}}</label> items in your Cart</h6>
            </div>
            <div>
                <button class="btn btn-danger  btn-sm" (click)="clearcart()">Clear Shopping Cart</button>
              <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                class="bi bi-sort-alpha-up"></i></a></p>
            </div>
          </div>
           <div class="row ">
            <div class="col-md-2 col-lg-2 col-xl-2 text-center"><strong>Item</strong></div>
            <div class="col-md-2 col-lg-2 col-xl-2 text-center"><strong>Title</strong></div>
            <div class="col-md-2 col-lg-2 col-xl-2 text-center"><strong>Quantity</strong></div>
            <div class="col-md-2 col-lg-2 col-xl-2 ms-3 text-center"><strong>Price</strong></div>
           <div class="col-md-1 col-lg-1 col-xl-1 ms-5 text-center"><strong>Total</strong> </div>
           </div>
          <div class="card rounded-3 mb-4 p-0" *ngFor="let item of cartproducts; let index=index"  style="height: 150px;">
            <div class="card-body p-4" >
              <div class="row d-flex justify-content-between align-items-center" >
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <img
                    src={{item.item.image}}
                    class="img-fluid rounded-3" alt="Cotton T-shirt" style="height: 100px;" routerLink="/Detailsproduct/{{item.item.id}}">
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2">
                  <p class="lead fw-normal mb-2">{{item.item.title}}</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 d-flex">
                  <button class="btn btn-link px-2"  (click)="minsquantity(index)">
                    <i class="bi bi-dash"></i>
                  </button>
  
                  <input id="form1" min="0"  [(ngModel)]="item.quantity" (change)="detectechange()" type="number"
                    class="form-control form-control-sm text-center" />
                   
                  <button class="btn btn-link px-2" (click)="addquantity(index)">
                    <i class="bi bi-plus"></i>
                  </button>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 offset-lg-1">
                  <h5 class="mb-0">{{item.item.price}}</h5>
                </div>
                <div class="col-md-1 col-lg-2 col-xl-2 p-o">
                    <h5 class="mb-0">{{item.item.price * item.quantity}}</h5>
                  </div>
                <div class="col-md-1 col-lg-1 col-xl-1 ">
                  <button  class="text-danger bg-transparent border border-danger" (click)="delete(index)" >
                    <i style="font-size: 25px;" class="bi bi-trash"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="card" >
            <div class="card-body d-flex">
              <p class="text-center ms-5"><strong>Total : {{total}} </strong></p>
          <button type="button" class="btn btn-primary btn-block btn-lg ms-auto" (click)="Addcart()">Proceed to Pay</button>   
            </div>
        </div>
        <div class="card bg-success bg-opacity-50 my-2  p-1" *ngIf="success">
          <p class="pt-3 ms-5 "  >WELL Done! </p> 
       </div>
    </div>
      </div>
    </div>
  </section>