<div class="card " style="width: 20rem; height:80%;">
   
  <img class="card-img-top h-50 hover-shadow" src="{{data.image}}" alt="Card image cap" routerLink="/Detailsproduct/{{data.id}}">
    <div class="card-body">
      <h5 class="card-title">{{data.title}}</h5>
      <p class="card-text"> {{data.description}}</p>
      </div>
      <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
      <button class="btn btn-primary" *ngIf="!active" (click)="active=true">Add To Cart</button>
      <div  class=" d-flex justify-content-between" *ngIf="active">
        <input type="number" class="form-control" [(ngModel)]="amount" >
        <button class="btn btn-danger w-40" (click)="Add();active=false" >Add</button>  
      </div>
       <span class="ms-3 bg-light w-30">{{data.price}}</span>
    </div>
</div>      